@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Doodle+Triangles&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    /* background: radial-gradient(circle, #C6CF9B, #F6ECA9); */
    background-color: #EDF1D6;

}


a {
    text-decoration: none;

}




.navbar {
    /* background-color: rgb(89, 111, 183); */
    align-items: center;
    justify-content: center;
    top: 0;
    backdrop-filter: blur(40px);
    position: sticky;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav {
    padding: 12px;
    width: 40vw;
    margin: auto;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.right {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
}


.right ul a {
    text-decoration: none;
    color: #596FB7;
    padding: 2px;
    z-index: 2;
}

.right ul:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}

.right ul a:hover {
    transform: scale(2);
    color: #11235A;
    text-decoration: underline;
}

.Hero {
    width: 100vw;
    align-items: center;
    background-image: url('./img/wave1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {

    display: flex;
    justify-content: space-around;
    width: 90vw;
    align-items: center;
    height: 100vh;
}

.hero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero2 h4 {
    font-size: 2.9em;
    margin-bottom: 1em;
    color: #11235A;
    margin-top: 1em;
    letter-spacing: 6px;
    margin-left: 1em;
}

.hero .content {
    width: 40vw;
    line-height: 2em;
    margin-top: 3em;
    color: #596FB7;
    font-size: 3.4em;
    font-family: 'Mukta', sans-serif;
    animation: font 12s infinite;
    transition: font-family 0.4s ease-in;
}

@keyframes font {
    0% {
        font-family: 'Rubik Doodle Triangles', serif;
        
    }
    25%{
        font-family:'Ubuntu';
    }

    50% {
        font-family: 'Sevillana';
      
    }
    75%{
        font-family: 'Roboto Mono';
    }

    100% {
        font-family: 'Teko', sans-serif;
    }

}

.hero img {
    border-radius: 10%;
    margin-top: 40px;
    width: 448px;
    transition: transform 0.2s;

    /* border: 5px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero img:hover {
    transform: scale(1.1);
}

.speration {
    display: none;
}

.content2 {
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #11235A;
}


.content2::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
    pointer-events: none;
}

.meContent1 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 70%;
    color: #596FB7;
    margin-left: 15%;
    margin-top: 3em;
}

.meContent1 p {
    font-size: 25px;
}

.meContent1>div:first-child>p:last-child {
    font-size: 15px;
}


.Project {
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 3em;
    margin-top: 1.2em;

    color: rgb(17, 35, 90);
    animation-name: fromLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    padding-top: 12px;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.cards {
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 33px;
    grid-row-gap: 20px;
}

.cards a {
    color: #596FB7;
}

.cardImg {
    width: 350px;
    

}

.cardImg img {
    width: 350px;
    border-radius: 23px;
    
}

.name {
    font-size: 2em;
    display: inline;
    color: #11235A;
}

.cardContent {
    margin-top: 12px;
    width: 350px;
    line-height: 2em;
    border-radius: 23px;
    padding-left: 12px;
    text-align: center;

}

.card1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}

.backSide {
    text-align: center;
    border-radius: 23px;
    width: 350px;
    padding: 7px;
    margin-top: 2px;
    position: absolute;

}


.card1 {
    background-color: #edf1d6;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: 23px;
    height: 399px;
    transition: transform 0.4s, box-shadow 0.4s;
    border-radius: 25px;
   
}




.about {
    height: 100vh;
    background-color: rgb(180, 212, 255);
}



.heading {
    color: black;
    font-size: 2em;
    text-decoration: underline;
    width: 100vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 12px;
    animation-name: fromLeft;
    animation-duration: 2s;
    animation-iteration-count: 2;
    padding-top: 12px;

}

.more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0.8em;
    margin-top: 4em;

}

.tech1 {
    display: flex;
    color: black;
    justify-content: space-around;
    margin-bottom: 6em;
}

.tech1:hover {
    transform: scale(1.01);
}


.me {
    color: black;
    font-size: 2em;
    text-decoration: underline;
    width: 100vw;
    /* height: 100vh; */
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 12px;
    animation-name: fromLeft;
    animation-duration: 2s;
    animation-iteration-count: 2;
    padding-top: 12px;

}

.meContent {
    color: #596FB7;
    font-size: 1.5em;
    width: 55vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 3em;
}

.About-ME {
    height: 100vh;
}


/* circular
 */
.skillSet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4em;
    margin-left: 17em;
    margin-right: 10em;
    padding: 52px;

}

.skillSet:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    ;
}

.skills {
    display: flex;
    color: #596FB7;
    margin-bottom: 4em;
    height: 65px;
    gap: 29px;
    align-items: center;
    justify-content: center;
}

.skills p {
    font-size: 1.5em;
}

.progress-container {
    width: 300px;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, #86B6F6, #B4D4FF);
    transition: width 1s ease;
}

.percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555;
    font-size: 16px;
}



#contact{
    background-color: #11235A;
}



.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    gap: 83px;
    margin: auto;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 12px;

    text-align: center;
    padding: 5px;
    transition: transform 0.4s;
}

.contact-form {
    flex: 1;
    text-align: left;
    padding: 20px;
    color: #edf1d6;
}
.contact-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    color: #333;
}

.social-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

.fa-brands {
    transition: transform 0.4s;
}

.fa-brands:hover {
    transform: scale(1.2);
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin-in:hover {
    background: radial-gradient(circle at 30% 107%, #047adc 0%, #3802e8 5%, #1c014b 45%, #160259 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}


input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #596FB7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Ubuntu";
}

button:hover {
    background-color: #5C8CC1;
}

.social-media a {
    transition: transform 0.4s;
}

.social-media a:hover {
    transform: scale(1.1);
}
.footer{
    height: 7px;
    align-items: center;
    justify-content: center;
}